<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>146990742626-rfrpat56pql9vpj2hirravqmg3hnfj2o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.146990742626-rfrpat56pql9vpj2hirravqmg3hnfj2o</string>
	<key>API_KEY</key>
	<string>AIzaSyAWAierUwrVhwkNnJSEP67HS7B7SlFeeC4</string>
	<key>GCM_SENDER_ID</key>
	<string>146990742626</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vacApp</string>
	<key>PROJECT_ID</key>
	<string>fir-cb1ed</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-cb1ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:146990742626:ios:360c1dbeb6d5e906af253b</string>
</dict>
</plist>